body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C1A5A9;
    margin: 0;
}

.container {
    background-color: #F08CAE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #9A4C95;
    text-align: center;
}

h1 {
    color: #4D2D52;
    margin-bottom: 20px;
}

label {

    margin-right: 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 1.2em;
}
